<h2>Danh sách người dùng</h2>

<% if(permissionList.includes("add")) { %>
    <a href="/users/add" class="btn btn-primary">Thêm mới</a>
<% } %>
<hr />

<table class="table table-bordered">
  <thead>
    <tr>
      <th width="5%">STT</th>
      <th>Tên</th>
      <th>Email</th>
      <% if(permissionList.includes("update")) { %>
        <th width="15%">Phân quyền</th>
        <th width="5%">Sửa</th>
      <% } %>

      <% if(permissionList.includes("update")) { %>
          <th width="5%">Xóa</th>
      <% } %>
    </tr>
  </thead>

  <tbody>
    <% users.forEach(({id, name, email}, index) => { %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= name %></td>
      <td><%= email %></td>

      <% if(permissionList.includes("update")) { %>
        <td><a href="/users/permission/<%= id %>" class="btn btn-primary">Phân quyền</a></td>
        <td><a href="/users/edit/<%= id %>" class="btn btn-warning">Sửa</a></td>
      <% } %>

      <% if(permissionList.includes("update")) { %>
          <td>
            <a href="" class="btn btn-danger delete-action">Xóa</a>
            <form action="users/delete/<%= id %>" method="post"></form>
          </td>
      <% } %>
    </tr>
    <% }) %>
  </tbody>
</table>